<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link href="https://fonts.googleapis.com/css?family=Artifika|Lemonada|Orbitron" rel="stylesheet">
  </head>
  <body>
    <h1>API Basejump: URL shortener microservice</h1>
    <h2>To get API:</h2>
    <h3>Try inserting the following url on your browser:</h3>
    <h3>Example Usage</h3>
    <p class="p1">https://same-flock.glitch.me/new/https://www.google.com</p>
    <h3>Creation output</h3>
    <p class="p2">{ "original_url":"http://foo.com:80", "short_url":"https://same-flock.glitch.me/8170" }</p>
    <h3>Will redirect to</h3>
    <p class="p3">https://www.google.com</p>
    
  </body>
<footer>Designed by HridayPratim</footer>
</html>